<div class="bgQuenMatKhau">


    <div class="quenMK">
        <p style="margin-top: 10px;">QUÊN MẬT KHẨU</p>
    </div>

    <!-- quên mật khẩu màn 1 -->
    <div>
        <div class="inputQuenMK" style="margin-top: 10px;">
            <input type="text" class="borderInput" value="NguyenVanA" style="margin-top: -50px;">
        </div>
        <div class="inputsubmit" style="margin-top: 1%;">
            <input type="submit" value="Tiếp tục" class="borderInputSubmitAndSetWidth" style="margin-top: 10px;">
        </div>
    </div>


    <!-- quên mật khẩu màn 2 -->
    <!-- <div class="styleChonPTXT" style="margin-top: -60px;">
            <span class="styleChuChonPTXT">Chọn phương thức xác thực</span>
            <br>
            <div class="styleChuChonPTXT">

                <input type="radio" class="styleRadio" id="vehicle1" name="vehicle1" value="email">
                <label style="margin-left:1%"> Email</label>

                <input type="radio" class="styleRadio" id="soDienThoai" name="soDienThoai" value="soDienThoai"
                    style="margin-left: 3%">
                <label style="margin-left:1%">Số điện thoại</label>
                <br>

            </div>
            <div class="row">
                <span>Hệ thống sẽ gửi mã OTP về email </span>
                <span style="color:yellow">hun******123@gmail.com</span>
            </div> -->
    <!-- <br>
            <div class="inputsubmit" style="margin-top: 1%;">
                <input type="submit" value="Tiếp tục" class="borderInputSubmitAndSetWidth">
            </div> -->

</div>