<div class="bgQuenMatKhauChonPTXT">

    <div>
        <div class="quenMK">
            <p>NHẬP MÃ OTP</p>
        </div>

        <div class="styleChonPTXT">
            <div class="row">
                <span class="styleChuChonPTXT">Vui lòng nhập mã OTP đã gửi đến </span>
            </div>
            <br>
            <div class="row">
                <span style="margin-top: 5px;">Email</span>
                <span class="styleChuChonPTXT" style="color:yellow">
                    quang******123@gmail.com
                </span>
            </div>
            <br>
            <span class="styleChuChonPTXT">
                Mã có hiệu lực trong 15 phút
            </span>

            <br>
            <div class="inputsubmit" style="margin-top: 2.5%;">
                <input type="text" placeholder="Nhập mã OTP" class="borderInput">
            </div>
            <div class="inputsubmit" style="margin-top: 2.5%;">
                <input type="submit" value="Tiếp tục" class="borderInputSubmitAndSetWidth">
            </div>
        </div>
    </div>
</div>