<!-- <div class="bg">
  <div style="color: yellow;">
    <span class="mg-t20-l20">
      <img src="../assets/Vector.png" alt="Image">
      <li>{{counter}}</li>
    </span>
  </div>
  <div class="container" style="color: yellow;">
    <span class="bg-countdown">
      <img src="../assets/Vector.png" alt="Image">
      <li>{{counter}}</li>
    </span>
  </div>
  <div class="container">
    <span class="bg-viewer"></span>
    <img src="../assets/Viewer1.png" alt="Image">
  </div>

  <div class="dienBienDauGia">
    <span class="styleChưDBDG">Diễn biến đấu giá</span>
    <br>
    <span>-------------------</span>
    <div *ngFor="let item of listDBDG">
      <tr>
        <span class="styleTienDauGia">{{item.soTienDauGia}}</span>
        <span class="styleNgayDauGia">{{item.ngayDauGia}}</span>
      </tr>
      <tr>
        <span class="styleNguoiDauGia">{{item.nguoiDauGia}}</span>
        <span class="styleGioDauGia">{{item.gioDauGia}}</span>
      </tr>
    </div>
  </div>
</div> -->

 <!-- <router-outlet></router-outlet> -->



 <!-- <app-quen-mat-khau></app-quen-mat-khau> -->

<!-- <app-quen-mat-khau-chonptxt></app-quen-mat-khau-chonptxt> -->

<!-- <app-nhap-ma-otp></app-nhap-ma-otp> -->

<app-otp-khong-hop-le></app-otp-khong-hop-le>