<div class="bgQuenMatKhauChonPTXT">

    <div>
        <div class="quenMK" style="margin-top: -10px;">
            <p>QUÊN MẬT KHẨU</p>
        </div>

        <!-- quên mật khẩu màn 2 -->
        <div class="styleChonPTXT" style="margin-top:-2% ;">
            <span class="styleChuChonPTXT">Chọn phương thức xác thực</span>
            <br>
            <div class="rowEmailOrSDT">

                <input type="radio" class="styleRadio" id="vehicle1" name="vehicle1" value="email">
                <label style="margin-left:1%"> Email</label>

                <input type="radio" class="styleRadio" id="soDienThoai" name="soDienThoai" value="soDienThoai"
                    style="margin-left: 3%">
                <label style="margin-left:1%">Số điện thoại</label>
                <br>

            </div>
            <div class="rowHeThongGuiMail" style="margin-top: 30px;">
                <span>Hệ thống sẽ gửi mã OTP về email </span>
                <span style="color:yellow">hun******123@gmail.com</span>
            </div>
            <br>
            <div class="inputsubmit" style="margin-top: 1.5%;">
                <input type="submit" value="Tiếp tục" class="borderInputSubmitAndSetWidth">
            </div>
        </div>
    </div>
</div>
