<div class="bgQuenMatKhauChonPTXT">

    <div>
        <div class="quenMK">
            <p>NHẬP MÃ OTP</p>
        </div>

        <div class="styleChonPTXT" style="margin-top: 10px;">
            <span class="styleChuChonPTXT">Vui lòng nhập mã OTP đã gửi đến Email: </span>
            <br>
            <span class="styleChuChonPTXT" style="color:yellow">
                quang******123@gmail.com
            </span>
            <br>
            <span class="styleChuChonPTXT">
                Mã có hiệu lực trong 15 phút
            </span>

            <br>
            <div class="inputsubmit" style="margin-top: 2.5%;">
                <input type="text" placeholder="Nhập mã OTP" class="borderInput">
            </div>
            <div class="inputsubmit" style="margin-top: 2.5%;">
                <input type="submit" value="Tiếp tục" class="borderInputSubmitAndSetWidth">
            </div>
        </div>
    </div>
</div>